---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Mision from "../components/Mision.astro";
import Instalaciones from "../components/Instalaciones.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dentista Reforma</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <Header />
    <Hero />
    <Mision />
    <Instalaciones />
    <Services />
    <Footer />
  </body>
</html>
