<section class="hero-section">
  <img
    src="/images/Home.webp"
    alt="Logo princpal | Dentista Reforma"
    title="Logo princpal | Dentista Reforma"
    loading="lazy"
    class="w-full h-full object-cover object-center"
  />
</section>

<div class="hero-card">
  <img
    src="/images/logoletras.png"
    alt="Logo Dentista Reforma"
    class="w-full mb-5"
  />

  <h1 class="hero-card-title">
    Protegiendo la salud de La Reforma<br />
    desde <strong class="font-bold text-reforma">1985</strong>
  </h1>

  <a href="#reserva" class="hero-card-button"> Agendar Cita </a>
</div>
