---
const URL = Astro.url.pathname;
const isHome = URL === "/";
---

<section class="hero-section relative w-full h-screen" id="home">
  <img
    src="/images/Home.webp"
    alt={isHome
      ? "Logo principal | Dentista Reforma"
      : "Main logo | Dentista Reforma"}
    title={isHome
      ? "Logo principal | Dentista Reforma"
      : "Main logo | Dentista Reforma"}
    loading="lazy"
    class="w-full h-full object-cover object-center absolute inset-0"
  />

  <div
    class="hero-card max-w-xl mx-auto px-4 py-8 bg-white/80 backdrop-blur-md shadow-lg rounded-lg text-center relative z-10"
  >
    <img
      src="/images/logoletras.png"
      alt="Logo Dentista Reforma"
      class="w-full mb-6"
    />

    <h1 class="text-3xl font-semibold text-gray-800 mb-4">
      {
        isHome ? (
          <>
            Protegiendo la salud de La Reforma
            <br />
            desde <strong class="font-bold text-reforma">1985</strong>
          </>
        ) : (
          <>
            Protecting the health of La Reforma
            <br />
            since <strong class="font-bold text-reforma">1985</strong>
          </>
        )
      }
    </h1>

    <a
      href="#reserva"
      class="inline-block mt-4 px-6 py-3 bg-reforma text-white font-semibold rounded-lg hover:bg-reforma-dark transition"
    >
      {isHome ? "Agendar Cita" : "Book Appointment"}
    </a>
  </div>
</section>
