---
import "@styles/global.css";
import "@fontsource-variable/archivo-narrow";
import "@fontsource-variable/roboto";
import Whatsapp from "@/components/Whatsapp";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body>
    <slot />
    <Whatsapp client:load />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Archivo Narrow Variable", sans-serif;
  }

  h1,
  a {
    font-family: "Roboto Variable", sans-serif;
  }
</style>
